@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f7ebfd;
}

nav{
	padding: 1rem;
	background-color: #3c096c;
	color: white;
}


main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

h2{
	text-align: center;
}

table{
	padding: 1rem;
}

li{
	list-style: none
}

td{
	text-align: left;
	padding: 10px;
}

input {
  width: 100%;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
}

textarea{
  width: 100%;
  height: 150px;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
}

.logout{
	color: white;
	text-decoration: none;
}


.updateForm{
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

.updateForm h2{
	background-color: #3c096c;
	color: white;
	padding: 0.75rem;
}


.logout:hover{
	text-decoration: underline;
}

.addButton {
  appearance: none;
  background-color: #9d4edd;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.addButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.addButton:hover {
  background-color: #c77dff;
}

.addButton:focus {
  box-shadow: #c77dff 0 0 0 3px;
  outline: none;
}

.addButton:disabled {
  background-color: #c77dff;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.addButton:active {
  background-color: #9d4edd;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.navList{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userDetails{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.userLogo {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
}

.submitContainer{
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.backLink{
	padding-top: 50px;
}