@charset "ISO-8859-1";

*{
	margin : 0;
	padding:  0;
}

body{
	align-items:center;
	background-color: #f7ebfd;
}


td{
	text-align: left;
	padding: 10px;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

h2{
	text-align: center;
}

table{
	padding: 1rem;
}
nav{
	text-align: center;
	padding: 1rem;
	background-color: #3c096c;
	color: white;
}

.loginForm{
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

.loginForm h2{
	background-color: #3c096c;
	color: white;
	padding: 0.75rem;
}


.addButton {
  appearance: none;
  background-color: #9d4edd;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.addButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.addButton:hover {
  background-color: #c77dff;
}

.addButton:focus {
  box-shadow: #c77dff 0 0 0 3px;
  outline: none;
}

.addButton:disabled {
  background-color: #c77dff;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.addButton:active {
  background-color: #9d4edd;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.submitContainer{
	display: flex;
	justify-content: center;
	padding: 1rem;
}